@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url(./../../public/fonts/Rubik-Regular.ttf)
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url(./../../public/fonts/Rubik-Medium.ttf)
}
input::placeholder {
  color: hsl(240, 3%, 88%);
  
}
.error {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23FA5959'/%3E%3Cg fill='%23FFF' transform='translate(9 5)'%3E%3Crect width='2' height='7' rx='1'/%3E%3Crect width='2' height='2' y='8' rx='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right
}