@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url(./../../public/fonts/Rubik-Regular.ttf)
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url(./../../public/fonts/Rubik-Medium.ttf)
}